@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.1em;
}

h1 {
  @apply text-5xl;
  @apply font-bold;
}

h2 {
  @apply text-5xl;
  @apply font-bold;
}

h3 {
  @apply text-4xl;
  @apply pt-8;
}

h4 {
  @apply text-2xl;
  @apply pt-4;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  border: 1px solid;
  @apply bg-gray-200;
  @apply border-gray-300;
  @apply p-2;
  @apply my-3;
  @apply rounded-lg;
}

@keyframes fadein{
  0% { opacity:0; }
  100% { opacity:1; }
}

.fade-container > * {
  opacity: 0;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.fade-container > *:nth-child(1) {
  animation-delay: 50ms;
}

.fade-container > *:nth-child(2) {
  animation-delay: 100ms;
}

.fade-container > *:nth-child(3) {
  animation-delay: 150ms;
}

.fade-container > *:nth-child(4) {
  animation-delay: 200ms;
}

.fade-container > *:nth-child(5) {
  animation-delay: 250ms;
}

.fade-container > *:nth-child(6) {
  animation-delay: 300ms;
}

.fade-container > *:nth-child(7) {
  animation-delay: 350ms;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    @apply bg-zinc-900;
  }
  pre {
    @apply bg-zinc-800;
    @apply border-zinc-700;
    @apply text-orange-300;
  }

  h3 {
    @apply text-orange-400;
  }

  h4 {
    @apply text-green-400;
  }
}
